.navbar-mobile {
	display: none;
	overflow: auto;

	width: 100%;
	height: 100%;
	padding-bottom: 16px;

	border-bottom: 1px solid #eaeaea;
}

.navbar-mobile--open {
	display: block;
}

@media screen and (min-width: 769px) {
	.navbar-mobile--open {
		display: none;
	}
}
