{
	"extends": "stylelint-config-standard",
	"rules": {
		"indentation": "tab",
		"declaration-empty-line-before": [
			"never",
			{
				"ignore": ["after-comment", "after-declaration", "inside-single-line-block"]
			}
		],
		"color-hex-length": "long"
	}
}
