.navbar-mobile {
	display: none;
	overflow: auto;

	width: 100%;
	height: 100%;
}

.navbar-mobile--open {
	display: block;
}

.navbar-mobile__menu-item {
	color: #333;

	font-weight: 500;
}

.navbar-mobile__menu-item--expanded {
	background-color: #f7f7f7;
}

.navbar-mobile__menu-item .navbar-mobile__menu-item {
	color: #555;

	font-weight: 400;
}

.navbar-mobile__menu-item .navbar-mobile__menu-item .navbar-mobile__menu-item {
	color: #267d34;
}

@media (min-width: 769px) {
	.navbar-mobile--open {
		display: none;
	}
}

.navbar-mobile__menu-item-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-mobile__menu-item-button {
	padding: 1rem 2rem;

	color: inherit;
	border: 0;
	background-color: transparent;
}

.navbar-mobile__menu-item-button:focus {
	outline: none;
}

.navbar-mobile__menu-item-button span {
	display: block;

	width: 0.5rem;
	height: 0.5rem;

	transition: transform 0.2s;
	transform: rotate(45deg);

	border-top: 2px solid currentColor;
	border-right: 2px solid currentColor;
}

.navbar-mobile__menu-item-button.navbar-mobile__menu-item-button--expanded span {
	transform: rotate(135deg);
}

.navbar-mobile__menu-items {
	overflow: hidden;

	max-height: 0;
	padding: 0 0 0 1.5rem;

	transition: max-height 0.1s;
}

.navbar-mobile__menu-item-link,
.navbar-mobile__menu-item-link:active,
.navbar-mobile__menu-item-link:visited,
.navbar-mobile__menu-item-link:focus,
.navbar-mobile__menu-item-link:hover {
	margin: 1rem;

	text-transform: uppercase;

	color: inherit;

	font-weight: inherit;
}

.navbar-mobile__menu-item-link.navbar-mobile__menu-item-link--expanded {
	font-weight: 500;
}
