.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding: 0 15px;
}

.product__image-container {
	position: relative;

	width: 100%;
	height: 100%;
	padding: 30px;

	border: 1px solid #e6e6e6;
	background-color: white;

	font-size: 16px;
}

.product__context {
	flex-grow: 1;

	max-width: 500px;
}

.product__title {
	margin-top: 50px;

	font-size: 1.5625rem;
	font-weight: 300;
}

.product__brand {
	margin-top: 14px;

	color: #027551;

	font-size: 1.25rem;
	font-weight: 500;
}

.product__code {
	margin-top: 14px;
}

.product__code-key {
	font-weight: 500;
}

.product__desc {
	margin-top: 25px;

	line-height: 27px;
}

.product__desc-list {
	margin-top: 15px;
}

.product__desc-list-item {
	margin-left: 20px;
}

.product__desc-list-item::before {
	position: absolute;

	margin-left: -20px;

	content: '\2012';

	color: #c48024;
}

.product__desc-table {
	width: 100%;
	margin-top: 15px;
	padding: 10px 0;

	border-spacing: 0;

	text-align: left;
}

.product__desc-table-key {
	font-weight: 500;
}

.product__desc-table-key,
.product__desc-table-value {
	padding: 4px;
}

.product__desc-table-row:hover,
.product__desc-table-row:focus {
	background-color: #f1f1f1;
}

@media screen and (min-width: 400px) {
	.product__image-container {
		width: 60%;
	}
}

@media screen and (min-width: 600px) {
	.product__image-container {
		padding: 40px;
	}
}

@media screen and (min-width: 650px) {
	.product {
		flex-wrap: initial;
	}

	.product__image-container {
		width: 35%;
	}

	.product__context {
		margin-left: 50px;
	}

	.product__title {
		margin-top: 0;

		font-size: 1.875rem;
	}
}

@media screen and (min-width: 768px) {
	.product__desc-table {
		width: 80%;
	}
}
