.product-card {
	width: calc(50% - 10px);
	margin: 5px;

	cursor: pointer;
	transition-duration: 0.2s;
	transition-property: box-shadow, opacity;
	text-decoration: none;

	color: initial;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	background-color: white;
}

.product-card:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.product-card:active {
	opacity: 0.6;
}

.product-card:active,
.product-card:visited,
.product-card:focus {
	color: initial;
}

.product-card__code {
	margin-bottom: 5px;
	padding: 0 15px;

	color: #027551;

	font-size: 0.8rem;
}

.product-card__name {
	min-height: 3.5rem;
	margin-bottom: 20px;
	padding: 0 15px;

	font-size: 1rem;
	font-weight: 500;
}

@media screen and (min-width: 435px) {
	.product-card {
		width: calc(50% - 20px);
		margin: 10px;
	}
}

@media screen and (min-width: 550px) {
	.product-card {
		width: calc(33.3% - 20px);
	}
}

@media screen and (min-width: 769px) {
	.product-card {
		width: calc(25% - 20px);
	}
}
