.brands-container {
	margin: 2rem;
}

.brands-header {
	padding-bottom: 0.5rem;

	text-align: center;
	letter-spacing: 0.1rem;

	color: #333333;
	border-bottom: 2px solid #e6e6e6;

	font-size: 1.3rem;
	font-weight: 200;
}

.brands {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	margin-top: 0.5rem;
}

.brands__item {
	max-width: calc(16.6% - 2rem);
	max-height: 2.5rem;
	margin: 1rem;
}

@media (max-width: 768px) {
	.brands__item {
		max-width: calc(33% - 2rem);
		max-height: 2rem;
	}

	.brands-container {
		margin: 2rem 0;
	}
}
