.brands-container {
	margin: 2rem;
}

.brands-header {
	padding-bottom: 0.5rem;

	letter-spacing: 0.1rem;

	color: #333333;
	border-bottom: 2px solid #e6e6e6;

	font-size: 1.3rem;
	font-weight: 200;
}

.brands {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	margin: auto;
}

.brands__item {
	max-height: 2.5rem;
	margin: 1rem;
}

@media (max-width: 768px) {
	.brands__item {
		max-height: 2rem;
	}
}
