.brands-container {
	margin: 32px;
}

.brands-header {
	padding-bottom: 8px;

	text-align: center;
	letter-spacing: 1.6px;

	color: #333333;
	border-bottom: 2px solid #e6e6e6;

	font-size: 1.3rem;
	font-weight: 200;
}

.brands {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	margin-top: 8px;
}

.brands__item {
	max-width: calc(16.6% - 32px);
	max-height: 40px;
	margin: 16px;
}

@media screen and (max-width: 768px) {
	.brands__item {
		max-width: calc(33% - 32px);
		max-height: 32px;
	}

	.brands-container {
		margin: 32px 0;
	}
}
