.footer-about {
	width: 50%;
}

@media screen and (max-width: 920px) {
	.footer-about {
		width: auto;
	}
}

.footer-about__context {
	padding: 8px 24px;
}

.footer-about__company-name {
	max-width: 400px;
	margin-bottom: 8px;

	color: #4adba7;

	font-weight: 700;
}

.footer-about__company-desc {
	max-width: 400px;
}

@media screen and (max-width: 920px) {
	.footer-about__company-desc {
		max-width: 560px;
	}
}
