.footer-about {
	width: 50%;
}

@media screen and (max-width: 920px) {
	.footer-about {
		width: auto;
	}
}

.footer-about__context {
	padding: 0.5rem 1.5rem;
}

.footer-about__company-name {
	max-width: 25rem;
	margin-bottom: 0.5rem;

	color: #4adba7;

	font-weight: 700;
}

.footer-about__company-desc {
	max-width: 25rem;
}

@media screen and (max-width: 920px) {
	.footer-about__company-desc {
		max-width: 35rem;
	}
}
