.footer-contact {
	width: 50%;
}

@media screen and (max-width: 920px) {
	.footer-contact {
		width: auto;
		margin-top: 24px;
	}
}

.footer-contact__context {
	display: flex;
	flex-wrap: wrap;
}

.footer-contact__address-context {
	width: 50%;
	padding: 8px 24px;
}

.footer-contact__communication-context {
	width: 50%;
	padding: 8px 24px;
}

@media screen and (max-width: 460px) {
	.footer-contact__communication-context,
	.footer-contact__address-context {
		width: auto;
	}
}

.footer-contact__mailing-address {
	margin-bottom: 16px;
}

.footer-adress__map-button {
	display: inline-flex;
	align-items: center;

	padding: 8px 16px;

	cursor: pointer;
	transition: opacity 100ms;
	text-decoration: none;

	opacity: 0.8;
	border: 0;
	border-radius: 38px;
	background-color: var(--color-green-200);
}

.footer-adress__map-button,
.footer-adress__map-button:active,
.footer-adress__map-button:visited,
.footer-adress__map-button:focus,
.footer-adress__map-button:hover {
	color: var(--color-black-100);
}

.footer-adress__map-button:hover {
	opacity: 1;
}

@media screen and (max-width: 920px) {
	.footer-adress__map-button {
		margin-bottom: 8px;
	}
}

.footer-adress__map-button-icon {
	width: 20px;
	height: 20px;
}

.footer-adress__map-button-innertext {
	margin-left: 8px;

	font-size: 0.8rem;
	font-weight: 600;
}

.footer-contact__phone {
	margin-bottom: 16px;
}

.footer-contact__email-address,
.footer-contact__phone-number {
	text-decoration: none;

	color: inherit;
	border-bottom: 1px solid transparent;
}

.footer-contact__email-address:hover,
.footer-contact__email-address:active,
.footer-contact__email-address:visited,
.footer-contact__phone-number:hover,
.footer-contact__phone-number:active,
.footer-contact__phone-number:visited {
	text-decoration: none;

	color: inherit;
}

.footer-contact__email-address:hover,
.footer-contact__phone-number:hover {
	border-bottom: 1px solid var(--color-green-200);
}
