.footer-copyright {
	display: flex;
	justify-content: center;

	margin-top: 3rem;

	font-size: 1.125rem;
}

.footer-copyright__year {
	margin-right: 0.2rem;
}

.footer-copyright__leaf-icon {
	width: 1.3125rem;
	height: 1.3125rem;
}
