.products-title {
	margin-bottom: 20px;

	font-size: 2.5rem;
	font-weight: 300;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	margin-right: -5px;
	margin-left: -5px;
}

@media screen and (min-width: 435px) {
	.products {
		margin-right: -10px;
		margin-left: -10px;
	}
}
