.navbar-mobile__category {
	color: #333333;

	font-weight: 500;
}

.navbar-mobile__category-children {
	overflow: hidden;

	padding: 0 0 0 24px;
}

.navbar-mobile__category--expanded {
	background-color: #f7f7f7;
}

.navbar-mobile__category--sub {
	color: #555555;

	font-weight: 400;
}

.navbar-mobile__category--lowermost {
	color: #027551;

	font-weight: 400;
}
