.navbar-mobile__category {
	color: var(--color-gray-500);

	font-weight: 500;
}

.navbar-mobile__category-children {
	overflow: hidden;

	padding: 0 0 0 24px;
}

.navbar-mobile__category--expanded {
	background-color: var(--color-white-400);
}

.navbar-mobile__category--sub {
	color: var(--color-gray-300);

	font-weight: 400;
}

.navbar-mobile__category--lowermost {
	color: var(--color-green-500);

	font-weight: 400;
}
