nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
}

nav ul a {
	text-decoration: none;
}

nav ul a,
nav ul a:focus,
nav ul a:visited {
	color: inherit;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;

	border-top: 3px solid #4bbb61;
	background-color: #f7f7f7;
	box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.16);
}

nav .navbar-menu {
	position: relative;

	display: flex;
	justify-content: center;

	color: #545454;
}

nav .navbar-menu .navbar-menu-item {
	padding: 1rem 1.3rem;

	border: 1px solid #eee;
	border-top: 0;
	border-bottom: 0;

	font-weight: 500;
}

nav .navbar-menu .navbar-menu-item:not(:last-child) {
	border-right: 0;
}

nav .navbar-menu .navbar-menu-item:hover {
	color: #4bbb61;
	background-color: #fff;
}

nav .navbar-menu .navbar-menu-item .navbar-menu-item-submenu {
	position: absolute;
	top: 100%;
	left: 0;

	display: none;

	width: 100%;
	padding: 1rem 1.3rem;

	color: #545454;
	border: 1px solid #eee;
	border-radius: 0 0rem 8px 8px;
	background-color: #fff;
}

nav .navbar-menu .navbar-menu-item:hover .navbar-menu-item-submenu {
	display: block;
}

nav .navbar-menu .navbar-menu-item .navbar-menu-item-submenu .navbar-menu-item-submenu-item {
	padding: 0.5rem 1rem;
}

nav .navbar-menu .navbar-menu-item .navbar-menu-item-submenu .navbar-menu-item-submenu-item:hover {
	color: #4bbb61;
}

@media (max-width: 768px) {
	nav {
		position: relative;

		justify-content: flex-start;
	}
	nav .navbar-menu {
		display: none;
		flex-direction: column;

		width: 100%;
	}

	nav .navbar-menu .active {
		display: block;
	}

	nav .navbar-menu .navbar-menu-item {
		border-bottom: 1px solid #eee;
	}
	nav .navbar-menu .navbar-menu-item .navbar-menu-item-submenu {
		position: relative;

		border: 0;
	}
}
