nav a {
	text-decoration: none;
}

nav a,
nav a:focus,
nav a:active,
nav a:visited {
	color: inherit;
}

nav {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #387b67;
}
