.header {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 8px 0px rgba(0,0,0,0.16);
    height: 80%;
    background-color: #fefefe;
}

.header-left {
    flex-shrink: 0;
    padding: 0 2rem;
}

.header-center {
    flex-grow: 1;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}

.header-right {
    flex-shrink: 0;
    padding: 0 2rem;
}

.logo svg {
    width: 7rem;
}

.search-group {
    display: flex;
}

.search-input {
    border: 3px solid #333;
    border-right: 0;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    background-color: #fefefe;
    color: #0a0a0a;
    padding: 0.5rem 1rem;
    flex-grow: 1;
    font-size: 0.8rem;
    min-width: 18rem;
}

.search-input:focus {
    opacity: 1;
    outline: none;
}

.search-button {
    flex-shrink: 0;
    padding: 0.5rem 2rem;
    background-color: #333;
    border: 0;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

.search-button:hover {
    background-color: #111;
}
