.header {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    flex-wrap: wrap;
}

.header-left {
    flex-shrink: 0;
    padding: 0.5rem 2rem;
}

.header-center {
    flex-grow: 1;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}

.header-right {
    flex-shrink: 0;
    padding: 0.5rem 2rem;
    width: 40%;
}

.logo svg {
    width: 14rem;
}

.search-group {
    display: flex;
}

.search-input {
    border: 3px solid #333;
    border-right: 0;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    background-color: #fefefe;
    color: #0a0a0a;
    padding: 0.5rem 1rem;
    flex-grow: 1;
    font-size: 0.8rem;
    width: 100%;
}

.search-input:focus {
    opacity: 1;
    outline: none;
}

.search-button {
    flex-shrink: 0;
    padding: 0.5rem 2rem;
    background-color: #333;
    border: 0;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

.search-button:hover {
    background-color: #111;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header-right {
        width: 85%;
    }
}
