nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}
  
nav ul {
    background-color: #3aa64e;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    list-style: none;
    display: flex;
}
  
nav ul li a {
    text-decoration: none;
    padding: .5rem 2rem
}

nav ul li a,
nav ul li a:focus,
nav ul li a:active,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    background-color: white;
    color: #3aa64e;
}
  
label.toggle {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.2rem;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,0.16);
}

label.toggle div span {
    display: block;
    width: 2rem;
    border: 2px solid #3aa64e;
    border-radius: 35%;
    margin: 0.3rem 0;
    transition-property: transform, opacity;
    transition-duration: 0.4s, 0.3s;
}

label.toggle div span:nth-child(2) {
    border-color: #4bbc63;
}
  
@media (max-width: 768px) {
    /* Mobile Navbar */
    nav {
        height: 0;
        z-index: -1;
    }

    nav ul {
        transform: translateY(-100%);
        flex-direction: column;
        transition-property: transform, visibility;
        transition-duration: 0.3s;
        font-size: 1.2rem;
    }

    nav ul li,
    nav ul li a {
        width: 100%;
    }

    nav ul li a {
        padding: 1rem 2rem;
    }

    label.toggle {
        display: flex;
    }

    /* Menu Toggle */

    #toggle:checked ~ nav {
        height: 100%;
    }

    #toggle:checked ~ nav ul {
        visibility: visible;
        display: flex;
        transform: translateY(0);
        align-items: flex-start;
    }

    /* Hamburger Menu */

    #toggle:checked ~ * ~ .toggle div span{
        opacity: 0;
    }

    #toggle:checked ~ * ~ .toggle div span:first-child {
        opacity: 1;
        transform: rotate3d(0, 0, 5, 45deg) translate(8px, 8px);
    }

    #toggle:checked ~ * ~ .toggle div span:last-child {
        opacity: 1;
        transform: rotate3d(0, 0, 5, -45deg) translate(5px, -4px);
    }
}