/* Clear css */

nav ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a,
nav ul li a:focus,
nav ul li a:active,
nav ul li a:visited {
    color: inherit;
}

/* Menu */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
	border-top: 8px solid #4bbb61;
	box-shadow: 0 3px 11px 0 rgba(0,0,0,0.16);
}

nav .navchan-menu {
	display: flex;
	justify-content: center;
	position: relative;
	color: #545454;
}

nav .navchan-menu .navchan-menu-item {
	padding: 1rem 1.3rem;
	border: 1px solid #eee;
	border-top: 0;
	border-bottom: 0;
	font-weight: 500;
}

nav .navchan-menu .navchan-menu-item:not(:last-child) {
	border-right: 0;
}

nav .navchan-menu .navchan-menu-item:hover {
	background-color: #fff;
	color: #4bbb61;
}

nav .navchan-menu .navchan-menu-item .navchan-menu-item-submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 1rem 1.3rem;
	border: 1px solid #eee;
	border-radius: 0 0rem 8px 8px;
	color: #545454;
	display: none;
}

nav .navchan-menu .navchan-menu-item:hover .navchan-menu-item-submenu {
	display: block;
}

nav .navchan-menu .navchan-menu-item .navchan-menu-item-submenu .navchan-menu-item-submenu-item {
	padding: .5rem 1rem;
}

nav .navchan-menu .navchan-menu-item .navchan-menu-item-submenu .navchan-menu-item-submenu-item:hover {
	color: #4bbb61;
}

