footer {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 64px 0;

	color: var(--color-white-500);
	background-color: var(--color-blue-400);
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
	max-width: 1024px;
}

@media screen and (max-width: 920px) {
	.footer-content {
		display: block;

		width: auto;
	}
}

.footer__title {
	padding: 8px 24px;

	font-size: 0.9375rem;
	font-weight: 700;
}

.footer__subtitle {
	margin-bottom: 8px;

	color: var(--color-green-200);

	font-size: 0.875rem;
	font-weight: 700;
}
