.navbar-desktop-container {
	position: relative;

	background:
		linear-gradient(
			54deg,
			rgba(44, 142, 111, 1) 0%,
			rgba(15, 122, 89, 1) 35%,
			rgb(25, 133, 155) 100%
		);
}

.navbar-menu {
	display: flex;
	justify-content: center;

	color: white;

	font-size: 1.05rem;
}

.navbar-menu__item {
	padding: 12.8px 17.6px;

	cursor: pointer;
}

.navbar-menu__item-link {
	text-decoration: none;
}

.navbar-menu__item-link,
.navbar-menu__item-link:focus,
.navbar-menu__item-link:active,
.navbar-menu__item-link:visited {
	color: inherit;
}

.navbar-menu__item-link--top {
	letter-spacing: 0.32px;
	text-transform: uppercase;

	border-bottom: 2px solid transparent;

	font-size: 0.9rem;
	font-weight: 600;
}

.navbar-menu__item:hover > .navbar-menu__item-link {
	border-color: currentColor;
}

.navbar-menu__submenu {
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;

	display: none;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
	padding: 16px 32px;

	border: 0;
	background-color: #fefefe;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.navbar-menu__item:hover .navbar-menu__submenu {
	display: flex;
}

.navbar-menu__item--sub {
	padding: 16px 32px;

	color: #319741;
}

.navbar-menu__item-link--sub {
	transition: color 200ms;

	font-weight: 700;
}

.navbar-menu__item-link--sub:hover {
	color: #287f31;
}

.navbar-menu__lowermostmenu {
	margin-top: 12.8px;

	color: #505050;
}

.navbar-menu__item--lowermost {
	padding: 0;
}

.navbar-menu__item-link--lowermost {
	display: block;

	margin-top: 8px;

	transition: color 200ms;
}

.navbar-menu__item-link--lowermost:hover {
	color: #222222;
}

@media screen and (max-width: 768px) {
	.navbar-desktop-container {
		display: block;

		background-color: #fefefe;
	}

	.navbar-mobile-container .navbar-menu {
		display: none;
	}
}
