html {
	font-size: 16px;
}

body {
	margin: 0;

	color: black;
	background-color: #fafafa;

	font-family: 'Roboto', sans-serif;

	-webkit-font-smoothing: antialiased;
}

main {
	max-width: 1024px;
	margin: auto;
	padding: 4rem 2rem;
}

* {
	box-sizing: border-box;
}

a {
	-webkit-tap-highlight-color: transparent;
}
