* {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;

	color: black;
	background-color: #fafafa;

	font-family: 'Roboto', sans-serif;

	-webkit-font-smoothing: antialiased;
}

main {
	max-width: 1024px;
	margin: auto;
	padding: 64px 32px 96px 32px;
}

a {
	-webkit-tap-highlight-color: transparent;
}
