.default-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.default-layout-header {
    height: 7rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

.default-layout-content {
    flex-grow: 1;
    margin-top: 7rem;
    background-color: 
}

.default-layout-footer {
    flex-shrink: 0;
}